<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{% static "common.css" %}">
    {% block css %}
    
    {% endblock %}
    {% if request.session.usertype == 'Doctor' %}
        <title> Doctor Dashboard</title>
    {% else %}
        <title> Patient Dashboard </title>
    {% endif %}
    
</head>
<body>
    <div class="header">
        <div class="logo"><img src="/media/logo.png"></div>
        <div class="header-elements">
            
            {% if request.session.usertype == 'Doctor' %}
                <a href="{% url 'doctor-home' %}">Home</a>
            {% endif %}

            {% if request.session.usertype == 'Patient' %}
                <a href="{% url 'patient-home' %}">Home</a>
                <a href="">Prescrption</a>
            {% endif %}

            
            <a href="">Nearest Hospital</a>
            <a class="fag" href="{% url 'faq' %}">FAQ</a>

            {% if request.session.username %}
                <a href="{% url 'logout' %}">logout</a>
            {% endif %}
            
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
</html>